# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Collection of common macros

{% set tplroot = tplfile.split('/')[0] %}

{%- macro format_kwargs(kwarg) -%}
  {%- if kwarg and kwarg is mapping %}

  {%- filter indent(4) %}
    {%- for k, v in kwarg|dictsort() %}
- {{ k }}: {{ v|tojson }}
    {%- endfor %}
  {%- endfilter %}

  {%- endif %}
{%- endmacro %}

{% macro build_source(source='', path_prefix='', default_source='', indent_width=6) -%}
{% set url = '' -%}
{% if source -%}
  {%- if source.startswith('salt://') or source.startswith('/') %}
    {%- set url = '- ' ~ source %}
  {%- else %}
    {%- set url = salt['file.join']('- salt://', tplroot, path_prefix, source) %}
  {%- endif %}
{% else -%}
  {%- set url = salt['file.join']('- salt://', tplroot, path_prefix, default_source) %}
{% endif -%}
{{ url|indent(indent_width, True) }}
{%- endmacro %}
